
### Examining racial discrimination in the US job market

#### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

#### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes.

#### Exercise
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value.
   4. Discuss statistical significance.

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet


#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet

****

In [54]:
%pylab inline
import pandas as pd
import numpy as np
from scipy import stats as st

Populating the interactive namespace from numpy and matplotlib

In [3]:
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [7]:
data.call.head()

0    0
1    0
2    0
3    0
4    0
Name: call, dtype: float32

In [5]:
data.tail()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
4865,b,99,3,2,1,0,0,0,1,313,...,1,0,0,0,1,0,0,0,0,Private
4866,a,99b,4,4,6,0,0,0,0,285,...,0,0,0,0,0,0,0,0,1,
4867,a,99b,4,6,8,0,1,0,0,21,...,0,0,0,0,0,0,0,0,1,
4868,a,99b,4,4,2,0,1,1,0,267,...,0,0,0,0,0,0,0,0,1,
4869,a,99b,4,3,7,0,0,0,1,274,...,0,0,0,0,0,0,0,0,1,

In [6]:
# number of callbacks for white-sounding names
sum(data[data.race=='w'].call)

235.0

In [4]:
# number of callbacks for black-sounding names
sum(data[data.race=='b'].call)

157.0

In [10]:
# number of applicants grouped by race
data.groupby('race').size()

race
b    2435
w    2435
dtype: int64

In [19]:
# call-back percentage for black and white people
print('The call-back percentage for black and white sounding names is: ' + str(round(sum(data[data.race=='b'].call)/2435,3)) + ' and ' + str(round(sum(data[data.race=='w'].call)/2435, 3)))

The call-back percentage for black and white sounding names is: 0.064 and 0.097

In [ ]:
# Calculate pooled proportion

In [23]:
PP = (sum(data[data.race=='w'].call) + sum(data[data.race=='b'].call))/(2435*2)
round(PP,3)

0.08

In [27]:
#Checking conditions for hypothesis test:
# 1) Data are independent (names were randomly assigned)
# 2) Calculating the # of successes and failures
print('Number of successes and failures using the pooled proprtion: ' + str(PP * 2435) + ' and ' + str((1-PP) * 2435) )

Number of successes and failures using the pooled proprtion: 196.0 and 2239.0

We can therefore use the CLT and the Z score and do a hypothesis test for the difference of two proportions. The null hypothesis is that the percentage of call-backs for white and black-sounding names are the same. The alternative hypothesis is that the are different.

In [69]:
Dp = (sum(data[data.race=='w'].call)/2435)-(sum(data[data.race=='b'].call)/2435)
SE = sqrt((PP*(1-PP)/2435)+((PP*(1-PP)/2435)))
print('A 95% confidence interval for the difference between call-backs is: ' + str(round(Dp,4)) + u" \u00B1 " + str(round(1.96*SE,4)))
Z = ((sum(data[data.race=='w'].call)/2435)-(sum(data[data.race=='b'].call)/2435))/SE
pval = 2*(1-st.norm.cdf(Z))
print('The p-value for this case is: ' + str(round(100*pval,4)) + '%')

A 95% confidence interval for the difference between call-backs is: 0.032 ± 0.0153
The p-value for this case is: 0.00398%

The above data present very **strong evidence that race affects the rate of call-backs for resumes**. The p-value for the hypothesis test is tiny (< 0.004%). The reason for such good statistics is that the study was done over a fairly large sample (4000+ people) and the observed difference is sizable (white-sounding names receive ~50% more call-backs).